{
  "mcpServers": {
    "Neon": {
      "type": "http",
      "url": "https://mcp.neon.tech/mcp",
      "headers": {
        "Authorization": "Bearer NEON_API_TOKEN_AQUI"
      }
    },
    "context7": {
      "type": "http",
      "url": "https://mcp.context7.com/mcp",
      "headers": {
        "CONTEXT7_API_KEY": "CONTEXT7_API_KEY_AQUI"
      }
    },
    "Swarm": {
      "type": "stdio",
      "command": "npx",
      "args": ["-y", "@swarmify/agents-mcp@latest"],
      "env": {}
    }
  }
}
